.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;

  .sidebar__lang {
    margin-left: var(--offset-sm);
  }

  .sidebar__button {
    position: absolute;
    right: calc(-1 * var(--offset-32));
    bottom: var(--offset-32);
  }
}

.switchers {
  position: absolute;
  bottom: 24px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.linkItems {
  margin-top: var(--offset-sm);
  margin-left: var(--offset-md);
  display: flex;
  flex-direction: column;
}

.linkItem {
  margin-top: var(--offset-xs);
  display: flex;
  align-items: center;
}

.icon {
  fill: var(--inverted-secondary-color);
}

.link {
  margin-left: var(--offset-xs);
  opacity: 1;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
    align-items: center;
  }

  .sidebar__lang {
    margin-left: 0;
  }

  .link {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
  }
}
