.selectWrapper {
  display: flex;
}

.label {
  margin-right: var(--offset-xs);
}

.select {
  background: none;
  outline: none;
  color: var(--primary-color);
  padding-right: 2px var(--offset-xs) 2px 2px;
  border: 1px solid var(--primary-color);
}

.option {
  color: var(--inverted-primary-color);
  background: var(--inverted-bg-color);
}
