.app_green_theme {
  --bg-color: #f4fbfa;
  --inverted-bg-color: #22c8af;
  --primary-color: #105e1e;
  --secondary-color: #3fde6a;
  --inverted-primary-color: #dbf7f3;
  --inverted-secondary-color: #f2f3f3;
}
